# GitHub Action Workflow to Deploy Node App to AWS ElasticBeanstalk
#
# Version      Date        Info
# 1.0          2022        First Version
#
# Made by Dmitry Solomatin
#---------------------------------------------------------------------
name: CI-CD-Pipe-to-AWS-EBS
env:
  S3_BUCKET_NAME : "node-app"
  APPLICATION_NAME       : "NodeApp"
  ENVIRONMENT_NAME       : "NodeApp-env"
  DEPLOY_PACKAGE_NAME       : "node-app-${{ github.sha }}.zip"
  AWS_REGION_NAME           : "eu-north-1"
on: 
  push:
    branches: 
      - main
jobs:
    my_ci_pipeline:
       runs-on: ubuntu-latest
       
       steps:
         - name: Git clone our repository
           uses: actions/checkout@v1
            
         - name: Create ZIP deployment package
           run : zip -r ${{ env.DEPLOY_PACKAGE_NAME }} ./  -x  *.git*
           
         - name: Configure my AWS Credentils
           uses: aws-actions/configure-aws-credentials@v1
           with:
             aws-access-key-id    : ${{ secrets.MY_AWS_ACCESS_KEY }}
             aws-secret-access-key: ${{ secrets.MY_AWS_SECRET_KEY }}
             aws-region           : ${{ env.AWS_REGION_NAME }}
         - name: Copy Deployment package to S3 bucket in AWS
           run : aws s3 cp ${{ env.DEPLOY_PACKAGE_NAME }} s3://${{ env.S3_BUCKET_NAME}}/
         
         - name: Print nice message on completion of CI Pipeline
           run : echo "CI Pipeline finished successfully"
           
    my_cd_pipeline:
       runs-on: ubuntu-latest
       needs: [my_ci_pipeline]
       
       steps:
         - name: Configure AWS Credentials in account
           uses: aws-actions/configure-aws-credentials@v1
           with:
             aws-access-key-id    : ${{ secrets.MY_AWS_ACCESS_KEY }}
             aws-secret-access-key: ${{ secrets.MY_AWS_SECRET_KEY }}
             aws-region           : ${{ env.AWS_REGION_NAME }}
         
         - name: Create new ElasticBeanstalk Applicaiton Version
           run : |
            aws elasticbeanstalk create-application-version \
            --application-name ${{ env.APPLICATION_NAME }} \
            --source-bundle S3Bucket="${{ env.S3_BUCKET_NAME }}",S3Key="${{ env.S3_BUCKET_NAME }}" \
            --source-bundle S3Bucket="${{ env.S3_BUCKET_NAME }}",S3Key="${{ env.DEPLOY_PACKAGE_NAME }}" \
            --version-label "Ver-${{ github.sha }}" \
            --description "CommitSHA-${{ github.sha }}"
         - name: Deploy our new Application Version
           run : aws elasticbeanstalk update-environment --environment-name ${{ env.ENVIRONMENT_NAME }} --version-label "Ver-${{ github.sha }}"
           
         - name: Print nice message on completion of CD Pipeline
           run : echo "CD Pipeline part finished successfully"  
